@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Quintessential&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: beige;
}
.title {
  font-family: "Bad Script", cursive;
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-size: 35px;
  height: auto;
  width: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 1px;
}

.image-container {
  margin: 10px 20%;
}

.image-container img {
  width: 100%;
  margin-top: 5px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
  }
  .image-container {
    margin: 10px;
  }
}
